# Explore Postgres

I love working with code in a notebook because of two reasons. One, it allows me to keep a record of all the things I tried. Two, it allows me to capture input, code, and output, all in one place, allowing me to reproduce my work. In this notebook, I explore working with postgres in notebooks.

In [1]:
%%capture
!pip install -r ../requirements.txt

A key to working with databases in a notebook is to make sure that the `ipython-sql` and `pgspecial` python packages are installed. The `ipython-sql` package allows users to run sql queries in a notebook cell, while `pgspecial` extends functionality to run `psql` commands, which is very handy. Once installed, it is necessary to load the extension and configure the connection and tweak the default behavior of `SqlMagic`.

In [1]:
%load_ext sql
%sql postgresql://corise:corise@localhost:5432/dbt
%config SqlMagic.displaylimit=5
%config SqlMagic.displaycon = False

__List all databases__

In [2]:
%sql \l

4 rows affected.

[('dbt',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=Tc/postgres\npostgres=CTc/postgres\ncorise=CTc/postgres'),
 ('postgres', 'postgres', 'UTF8', 'C.UTF-8', 'C.UTF-8', None),
 ('template0',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=c/postgres\npostgres=CTc/postgres'),
 ('template1',
  'postgres',
  'UTF8',
  'C.UTF-8',
  'C.UTF-8',
  '=c/postgres\npostgres=CTc/postgres')]

__List all tables in current database__

In [3]:
%sql \d

8 rows affected.

[('public', 'addresses', 'table', 'postgres'),
 ('public', 'events', 'table', 'postgres'),
 ('public', 'order_items', 'table', 'postgres'),
 ('public', 'orders', 'table', 'postgres'),
 ('public', 'products', 'table', 'postgres'),
 ('public', 'promos', 'table', 'postgres'),
 ('public', 'superheroes', 'table', 'postgres'),
 ('public', 'users', 'table', 'postgres')]

In [15]:
%sql \dt+

8 rows affected.

[('public', 'addresses', 'table', 'postgres', '56 kB', None),
 ('public', 'events', 'table', 'postgres', '784 kB', None),
 ('public', 'order_items', 'table', 'postgres', '136 kB', None),
 ('public', 'orders', 'table', 'postgres', '136 kB', None),
 ('public', 'products', 'table', 'postgres', '16 kB', None),
 ('public', 'promos', 'table', 'postgres', '8192 bytes', None),
 ('public', 'superheroes', 'table', 'postgres', '120 kB', None),
 ('public', 'users', 'table', 'postgres', '56 kB', None)]

In order to run `dbt` commands in a notebook, it is important to pass a `project-dir` flag if the notebook is not at the root of the dbt project. Unfortunately, `dbt` does NOT expose an environment variable such as `DBT_PROJECT_DIR` to allow this to be set globally in the notebook. Hence, the only way currently to run these in a notebook that is NOT at the root of the project is to explicitly pass it as a flag to the `dbt` command. It would be good to put this in as a feature request for `dbt`.

In [16]:
%%bash
export PROJECT_DIR='../../dbt-greenery'
echo $PROJECT_DIR
dbt debug --project-dir=$PROJECT_DIR

../../dbt-greenery
Running with dbt=0.21.0
dbt version: 0.21.0
python version: 3.8.12
python path: /home/gitpod/.pyenv/versions/3.8.12/bin/python3
os info: Linux-5.4.0-1051-gke-x86_64-with-glibc2.29
Using profiles.yml file at /home/gitpod/.dbt/profiles.yml
Using dbt_project.yml file at /workspace/dbt-explore/dbt-greenery/dbt_project.yml

Configuration:
  profiles.yml file [OK found and valid]
  dbt_project.yml file [OK found and valid]

Required dependencies:
 - git [OK found]

Connection:
  host: localhost
  port: 5432
  user: corise
  database: dbt
  schema: dbt_ramnath_v
  search_path: None
  keepalives_idle: 0
  sslmode: None
  Connection test: [OK connection ok]

All checks passed!